* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    border: solid 2px #f3f3f3;
    margin: 5px 0;
  }
  
  header {
    background: green;
    color: #f3f3f3;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    border: solid 2px #f3f3f3;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 70%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    width: 30%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
  }

  .flex{
    display: flex;
    justify-content: flex-start;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }